#Global
NEXT_PUBLIC_API_URL=
NEXTAUTH_SECRET=

#Database
DATABASE_URL=

#Chatbot
OPENAI_API_KEY=
CHROMA_API_KEY=

#OAuth
GOOGLE_ID=
GOOGLE_SECRET=
GITHUB_ID=
GITHUB_SECRET=

#Google cloud
GCS_PROJECT_ID=
GCS_CLIENT_EMAIL=
GCS_BUCKET_NAME=
GCS_PRIVATE_KEY=
