.section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fcfdfe;
  overflow: hidden;
}

.heroContent {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.leftSide {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  color: #002aff;
  font-family: var(--ukrainian-font);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
}

.description {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 650px;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.mainCircle {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #ced6ff;
  border-radius: 50%;
  top: -48px;
  left: -60px;
  z-index: 0;
  opacity: 0.7;
}

.teamImage {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  object-fit: cover;
  width: 100%;
  max-width: 450px;
  height: auto;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  position: relative;
}

.galleryItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImg {
  position: relative;
  z-index: 1;
  border-radius: 15px;
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.galleryCircle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #ced6ff;
  border-radius: 50%;
  z-index: 0;
  top: -30px;
  left: 56%;
}

.smallerGalleryCircle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #ced6ff;
  border-radius: 50%;
  z-index: 0;
  top: -40px;
  right: 10px;
}

.joinButton {
  background-color: #002aff;
  color: white;
  border-radius: 12px;
  padding: 0 42px;
  width: max-content;
  font-weight: 600;
  transition: transform 0.2s;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.joinButton:hover {
  background-color: #001ecc;
  transform: translateY(-2px);
}

.aboutTitle {
  font-size: 80px;
  font-weight: 300;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  color: #0033ff;
  margin: 0;
  line-height: 1;
}

.AboutUsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AboutUsChild:nth-child(odd) {
  width: 80%;
  align-self: flex-start;
  text-align: left;
}

.AboutUsChild:nth-child(even) {
  width: 80%;
  align-self: flex-end;
  text-align: right;
}

@media (max-width: 1200px) {
  .galleryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .heroContent {
    flex-direction: column;
    text-align: center;
  }

  .container {
    padding: 40px 24px;
  }

  .mainCircle {
    right: 50%;
    transform: translateX(50%);
  }

  .leftSide {
    align-items: center;
  }

  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .galleryCircle {
    top: 200px;
    left: 20%;
  }

  .smallerGalleryCircle {
    top: -40px;
    right: 10px;
  }

  .section {
    width: 90%;
    margin: 0 auto;
  }

  .title {
    color: #002aff;
    font-family: var(--ukrainian-font);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
  }
}
